/* footer.css */

.footer {
    background-color: #0D1B2A;
  }
  
  .bg-dark-blue {
    background-color: #0D1B2A;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #adb5bd;
  }
  
  .social-icons i {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .social-icons i:hover {
    transform: translateY(-3px);
  }